
*{
margin: 0;
padding:0;
}

    body{
        backdrop-filter:blur(1.5px);
        height: 600px; 
    } 


h1#heading{
    text-align:center ;
      margin-top: 150px;  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size:50px;
    color: rgba(71, 29, 29, 0.8);
    

    
}

#container{
    margin:20px auto 0px auto;
    width:280px;
    text-align: left;
    height:260px;
    background-color:rgba(185, 10, 68, 0.564);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    border-radius: 20px ;
    padding: 10px;
    box-shadow: 5px 10px 10px 5px rgba(148, 226, 204, 0.622);
}

.input{
    padding:5px 10px;
    margin:10px;
    font-size: 15px;
    font-weight: bold;
    width:200px;
    text-align: center;
    border-radius: 3px;
    background-color:rgba(106, 170, 166, 0.378);
}
.input:hover{
    background-color: white;
}
label{
    font-weight: bold ;
    color: rgb(19, 18, 19);
    
}



